[LOGIN]
user = yourUsernameHere
password = dataBasePasswordHere

[SERVER]
server = serverNameHere

[DRIVER]
driver = driverNameHere

[DATABASE]
database = databaseNameHere

[SMTP]
host = hostNameHere
port = portNumberHere

[MAILBOX]
user = emailSendingMessageHere@domain.com
password = emailPasswordHere

[ADDRESSES]
recipient1 = firstRecipientOfMessage@domain.com
recipient2 = secondRecipientOfMessage@domain.com

